<section
  id="contacto"
  class="main-section"
>
  <div class="z-10 max-w-4xl mx-auto">
    <header class="mb-10 text-center uppercase">
      <h2 class="text-[#6347ff] text-5xl font-semibold tracking-wide">
        contacto
      </h2>
    </header>

  </div>
</section>
