---
import ExperienceDetails from '../ui/ExperienceDetails'
---

<section
  id="experiencia"
  class="flex flex-col justify-center items-center relative w-full min-h-screen"
>
  <img
    src="images/tech.svg"
    alt="Stack Tecnologies"
    class="absolute right-0 opacity-40 select-none object-contain"
    width="650"
    height="650"
  />
  <header class="text-[#6347ff] uppercase text-center mb-8">
    <h2 class="text-3xl font-bold tracking-wide">Experiencia</h2>
  </header>
  <ExperienceDetails client:load />
</section>
