---
import ExperienceDetails from '../ui/ExperienceDetails'
---

<section
  id="experiencia"
  class="relative px-6 mt-24 mb-36 md:px-12"
>
  <div class="z-10 max-w-4xl mx-auto">
    <header class="mb-10 text-center uppercase">
      <h2 class="text-[#6347ff] text-5xl font-semibold tracking-wide">
        experiencia
      </h2>
    </header>
    <ExperienceDetails client:visible />
    <img
      src="/assets/svg/tech-skills-orbit.svg"
      alt="Technical skills"
      class="absolute top-0 right-0 opacity-40 z-[-1] object-contain"
      width="600"
      height="600"
    />
  </div>
</section>
