---
import { SOCIAL_LINK } from '@/constants'
import Skills from '../ui/Skills'
---

<footer
  class="backdrop-blur-md bg-gradient-to-r from-[#030014]/70 to-[#7042f8]/20 border-t border-[#7042f8]/40 px-6 py-6 space-y-4"
>
  <h3 class="text-[#cbd5e1] text-xl font-semibold text-center">
    También puedes contactarme por estos medios:
  </h3>
  <nav aria-label="Redes Sociales">
    <ul class="flex justify-center space-x-6">
      {
        SOCIAL_LINK.map((social) => (
          <li class="transform transition-transform hover:scale-110 hover:text-[#b2b2ff]">
            <a
              href={social.link}
              target="_blank"
              rel="noopener noreferrer"
              class="flex flex-col items-center"
              aria-label={social.name}
            >
              <Skills name={social.icon} width={32} height={32} />
              <span class="mt-2 text-sm">{social.name}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</footer>
