---
import Skills from '../ui/Skills'
---

<footer
  class="backdrop-blur-md px-8 py-4 bg-[#030014]/60 border border-[#7042f8]/40 space-y-4"
>
  <h3 class="text-[#6347ff] text-xl font-semibold text-center">
    También puedes contactarme por estos medios:
  </h3>
  <nav class="flex justify-center space-x-6">
    <button class="flex flex-col items-center">
      <Skills name="git-github" width={32} height={32} />
      <p class="mt-2 text-sm">GitHub</p>
    </button>
    <button class="flex flex-col items-center">
      <Skills name="git-github" width={32} height={32} />
      <p class="mt-2 text-sm">LinkedIn</p>
    </button>
    <button class="flex flex-col items-center">
      <Skills name="git-github" width={32} height={32} />
      <p class="mt-2 text-sm">Instagram</p>
    </button>
  </nav>
</footer>
