<section id="home" class="flex justify-center items-center w-full min-h-screen">
  <div class="flex flex-col justify-center text-center gap-5">
    <h1 class="text-5xl sm:text-[6vw] font-bold uppercase">
      Porfolio bmmedina
    </h1>
    <h2 class="text-xl font-medium uppercase">En construcción</h2>
  </div>
</section>
