<section id="home" class="flex justify-center items-center w-full min-h-screen">
  <div class="flex flex-col justify-center text-center gap-5">
    <h1 class="text-5xl sm:text-[6vw] font-bold uppercase">Brandon Medina</h1>
    <h2 class="text-xl font-medium uppercase">
      Desarrollador Web
      <span class="gradient-text">Full Stack</span>,
      <span class="text-[#22d2f0]">Frontend</span> &amp;
      <span class="text-[#00ffaa]">Backend</span>
    </h2>
    <header>
      <nav class="flex justify-center items-center w-full h-[65px]">
        <div
          class="max-w-7xl mx-auto flex justify-center items-center backdrop-blur-md rounded-full px-8 py-4 bg-[#030014]/60 shadow-[#2a0e61]/60 shadow-lg border-[#7042f8]/40 border"
        >
          <ul class="flex gap-8">
            <li>
              <a
                href="#"
                class="flex items-center gap-2 text-[#22d2f0] hover:text-[#07525F] text-lg"
                >Experiencia</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center gap-2 text-[#22d2f0] hover:text-[#07525F] text-lg"
                >Proyectos</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center gap-2 text-[#22d2f0] hover:text-[#07525F] text-lg"
                >Sobre mí</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center gap-2 text-[#22d2f0] hover:text-[#07525F] text-lg"
                >Contacto</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
</section>
