---
import Meta from '../components/Meta.astro'

const { ...head } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <Meta {...head} />
  </head>
  <body class="bg-[#030014] text-[#f6f6f6]">
    <main class="flex flex-col w-full h-full overflow-x-hidden">
      <slot />
    </main>
  </body>
</html>
