<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content="Desarrollador Web Full Stack con más de 2 años de trabajo dedicado a aprender por cuenta propia y mejorar en el desarrollo de soluciones tecnológicas. Especializado en TypeScript y tecnologías web.">
		<title>Porfolio - Brandon Medina</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
