---
import Meta from '../components/Meta.astro'

const { ...head } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <Meta {...head} />
  </head>
  <body>
    <main class="flex flex-col w-full h-full overflow-y-hidden">
      <slot />
    </main>
  </body>
</html>
